.red {
  background-color: brown;
}
.red:hover {
  background-color: rgba(165, 42, 42, 0.735);
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.yellow {
  background-color: rgba(255, 255, 0, 0.697);
}

.yellow:hover {
  background-color: rgba(255, 255, 0, 0.487);
}

.list-item {
  background-color: rgba(0, 128, 0, 0.844);
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > span {
  display: flex;
  gap: 10px;
}

.not-found {
  background-color: grey;
  box-shadow: 5px 5px 10px rgba(67, 65, 65, 0.683);
}
