.inputs {
  padding: 5px 10px;
  width: 300px;
  font-size: 17px;
  outline: 1px solid transparent;
  border: none;
  border-radius: 5px;
}

.btn {
  font-size: 16px;
  padding: 6px 10px;
  outline: 1px solid transparent;
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 255, 0.848);
  cursor: pointer;
  color: #fff;
}

.btn:hover {
  background-color: rgba(0, 0, 255, 0.571);
}

.form {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 0;
}

.yellow {
  background-color: rgba(255, 255, 0, 0.697);
}

.yellow:hover {
  background-color: rgba(255, 255, 0, 0.487);
}
.red {
  background-color: brown;
}
.red:hover {
  background-color: rgba(165, 42, 42, 0.735);
}
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list-item {
  background-color: rgba(0, 128, 0, 0.844);
  padding: 5px 10px;
  font-size: 18px;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item > span {
  display: flex;
  gap: 10px;
}

.not-found {
  background-color: grey;
  box-shadow: 5px 5px 10px rgba(67, 65, 65, 0.683);
}
